@if (Settings.Features.AppSidebar)
{
<aside class="page-sidebar" style="font-family: 'Droid Arabic Kufi', serif;">
	<partial name="_Logo"/>
	<nav id="js-primary-nav" class="primary-nav" role="navigation">
		<partial name="_NavFilter"/>
		<partial name="_NavInfoCard"/>	
		<vc:navigation />
		<partial name="_NavFilterMsg"/>
	</nav>
	<partial name="_NavFooter"/>
</aside>
}