<div class="col-xl-6 ml-auto mr-auto">
    <div class="p-4 text-center">
        <h3>انتهت الجلسة برجاء اعادة تسجيل الدخول اولاً</h3>
        <p>غير مسموح بالدخول</p>
    </div>
    <div class="p-4 text-center">
        <div class="text-center pr-1">
            <a class="btn btn-block btn-primary btn-link text-white ml-auto border-0"  href="@Url.Action("Login","Account")">
                <i class="fal fa-shield-check fs-lg mr-1"></i>تسجيل الدخول
            </a>
        </div>
    </div>
</div>